# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
.venv/
venv/

# Base de datos
*.db

# Exportaciones
exports/
*.xlsx

# Archivos temporales de LibreOffice
.~lock*

# Archivos de pruebas
pagina.html

# Logs
logs/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/